@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat:wght@300&display=swap');

* {
    margin:0;
    padding: o;
    border: none;
    background-color: aquamarine;
    
}
body{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}
.wrapper{
    width:1170px;
    margin:auto;
}

/* synergia-logo-image */

synergia-logo {

weight: 100%;
height: 200px;
float: left;

}

/* solar-image */

.solar-image{
weight: 100%;
height: 500px;
size: 100vh;
background-image: url('../images/man-worker-firld-by-solar-panels.freepik.com.jpg');
background-size: cover;
background-image: center, center;
position: relative;
}


