
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat:wght@300&family=Noto+Serif&family=Nunito+Sans:wght@300&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

nav{

    width: 100%;
    height: 110px;
    background: rgb(208, 198, 198);
    
    position: sticky;
    top:0;
    left: 60px;
    font-size: 40px;
    letter-spacing: 8px;
}

nav ul{

    display: flex;
    margin: 0;
    padding:0 20px;
    float: left;
}
nav ul li{
    list-style: none;
    position: relative;

}
nav ul li a {
    display: block;
    padding:0 20px; 
    color:black;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 110px;
    transition: all 0.3;
}
    
nav ul li a:hover
{

transition: all 0.3;
font-size: 50%;
        
}

    
/* logo-image */
.logo {

   float: right;
   width: 15%;
   height: 90px;
   display: flex;
   padding-top: 10px;
   margin-right:50px;
}

.body img{
    position: relative;
    padding: 50px 100px;
    display: flex;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
}
    
   
/* home page image */

#mainImage {
   width: 100%;
   height: 110vh;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/Freepick\ 2.jpg') no-repeat center center;
    display: flex;
    
   
}


/* Welcome-text */


#welcome-text {
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    position: absolute;

    width: 90%;
    color:#f0f0f0;
    height: 250px;
    padding-top: 20px;
    

    top: 50%;
    left: 50px;

    text-align: center;
    display: inline;

    background-color: rgba(20, 28, 54, 0.4);}

    #welcome-text h1{
        font-size: 35px;
    }

    #welcome-text p{
        margin: 10px 0 40px;
        font-size: 20px;
       

    }
    .buton{
        display: inline-block;
        text-decoration: none;
        color:rgb(22, 204, 162);
        border: 1px solid #fff;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: 800;
        position: relative;
        cursor: pointer;
    }

    .buton:hover{
        background: rgba(231, 215, 39, 0.2) ;
        transition: 1s;
    }
   

/* whatIs */

#whatIs{
    padding: 100px;
    box-sizing: border-box;
    height: auto;

}
#whatIs h1{
    font-size: 3em;
    margin:0;
    padding: 0 0 20px;
}
#whatIs p{
    font-size: 18px;
    margin:0;
    padding: 0;
    text-align: justify;
}

    /* Section PhotoTwo */

    #PhotoTwo {

        height: 800px;
        width: auto;
        display: flex;
        padding-left: 6%;
        
    }
/* benefits */
#Benefits{
    padding:100px;
    box-sizing: border-box;
    height: auto;

}

#Benefits h1{
    font-size: 2.5em;
    margin:0;
    padding: 0 0 30px;
}
#Benefits p{
    font-size: 18px;
    margin:0;
    padding: 0;
    text-align: justify;
}

    #Benefits li{
        font-size: 18px;
        margin:0;
        padding: 0;
        font-weight: 900;
    }

    /* Photo number three */

    #PhotoThree{

        height: 800px;
        width: auto;
        max-width: 1300px;
        display: flex;
        
    }
    
/* section costs */

#costs{
    padding:100px;
    box-sizing: border-box;
    height: auto;
    

}

#costs h1{
    font-size: 2.5em;
    margin:0;
    padding: 0 0 30px;
    
}
#costs h2{
    font-size: 1.5em;
    margin:0;
    padding: 0 0 30px;
    text-align: justify;
}
#costs h3{
    font-size: 1em;
    margin:0;
    padding: 0 0 30px;
}
#costs .ourCompany{
   
    font-size: 20px;
    margin:0;
    padding: 0 0 30px;
    font-weight: 200;
}


#costs p{
    font-size: 18px;
    margin:0;
    padding: 0;
    text-align: justify;
}

    #costs li{
    font-size: 18px;
    margin:0;
     padding: 0;
    font-weight: 900;
    }

/* images-gallery */

#images-gallery {
   

    --gap: 30px;
    --num-cols: 2;
    --row-height: 300px;
    top: 1000px;
    box-sizing: border-box;
    background: #f0f0f0;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    
   
}

#images-gallery > img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 5px 10px #b1abab;
}

/* Anything under 1024px */

@media screen and (max-width:1024px) {

#images-gallery {
    --num-cols: 2;
    --row-height: 200px;

}}

/* footer */

footer{


width: 100%;
background: rgb(208, 198, 198);
height: 450px;
text-align: left;

}

.main_content{
  padding-left: 20px;  
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.left_box{

    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    

}
.main_content h2{

    font-size: 25px;
    font-weight: 300px;
    padding-top: 20px;
    color: #0caaa5;
}

.main_content p{
 font-size: 20px;
 font-weight: 300;
 line-height: 22px;
 padding: 10px;
 text-align: justify;

}


/* Contact page */

.contact{
 
    min-height: 100vh;
    padding: 1px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/pixabay\ 4.jpg');
    background-size: cover;
}

.contact .content{

    max-width: 800px;
    text-align: center;

}
.contact .content h2 {
    
    font-size: 40px;
    font-weight: 500;
    color:white;
    text-align: center;
}
.contact .content p{
    font-size: 20px;
    font-weight: 500;
    color:white;
} 

.contactForm
{
    width: 40%;
    padding: 40px;
    background:  rgba(230, 233, 242, 0.4);
    border-radius: 5px;
    margin-top: 30px;
    

}
.contactForm h2{
    
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.contactForm .inputBox
{
    
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputBox input,
.contactForm .inputBox input textarea{

    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    outline: none;
    resize: none;
    border-bottom: 2px solid #3a3a3a;
}

.contactForm .inputBox input[type="submit"]{

    width: 30%;
    background: rgb(66, 216, 186);
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px;}



@media (max-width:991px)

{.contact
    {padding: 50px;
}

.content{
    flex-direction: column;
}

.contactForm
{width: 100%;}
}
