
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Erica+One&family=Montserrat&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
    margin: auto;
    max-width: 2000px;}

html{
    scroll-behavior: smooth;}


header{
    width: 100%;
    height: 120px;
    background:#D1D4D9;
    
   
}
    #head{
    width: 100%;
    height: 120px;
    box-shadow: 8px 8px 10px 0 rgba(33, 51, 44, 0.4);
    position: relative;
        
    }
/* logo-image */
.logo{
        float: right;
        width: 15%;
        height: 90px;
        padding-top: 10px;
        margin-right:50px;
        cursor: pointer; 
     }
/* Navigation area and logo*/

#nav-area{

    top:0;
    float: left;    
    letter-spacing: 3px;
}

nav ul{

    display: flex;
    padding:0 20px;
    float: left;
}
nav ul li{
    list-style: none;
    position: relative;

}
nav ul li a {
    display: block;
    padding:0 30px; 
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    line-height: 110px;
    transition: scale 0.3 ease;
}
    
nav ul li a:hover
{

scale: 1.05;
font-weight: bold;
color: #08b458;
text-shadow: 1px 0 #181111;
        
}

/* hero image */
#mainImage{
    position: relative;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/Freepick\ 2.jpg') no-repeat center center;
    display: flex;
}
/*Text on the hero photo*/

#welcome-text {
    
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    position: absolute;
    width: 90%;
    color:#f0f0f0;
    height: 250px;
    padding-top: 20px;
    top: 20%;
    left: 5%;
    right:5%;
    text-align: center;
    display: inline;
    background-color: rgba(20, 28, 54, 0.4);}

    #welcome-text h1{
        font-size: 35px;
    }

    #welcome-text p{
        margin: 10px 0 40px;
        font-size: 20px;

    }
    /*Contact button on the hero photo*/
    .buton{
        display: inline-block;
        text-decoration: none;
        color:rgb(22, 204, 162);
        border: 1px solid #fff;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: 800;
        position: relative;
        cursor: pointer;
    }

    .buton:hover{
        background: rgba(231, 215, 39, 0.2) ;
        transition: 1s;
    }

/* About company section intro*/

#rows{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.description{
   
    flex-basis: 60% 40%;
    margin-bottom: 2%;
    padding: 20px 13px;
    box-sizing: border-box;
    }
   #about-company h2{
    font-size: 40px;
    width: 80%;
    padding-top: 40px;
    margin: auto;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
    color: rgba(26, 27, 26, 0.7)
   }
   
   /*About us section text*/
   #about-text p {
    padding-left: 80px;
    padding-top: 5px;
    font-size: 20px;
    max-width: 98%;
    text-align: justify;
    color: rgba(37, 46, 42, 0.7)
}

/*About us section text*/
   #owner-image {
    padding-top:10px;
    padding-bottom: 20px;
    overflow: hidden;
    height: 100%;
    }
    #owner-image img {      
    max-width: 95%;
    max-height: 100%;
    padding-top: 15px;
    border-radius: 30%;
    box-shadow: 0px 20px 5px rgb(0 0 0 / 0.2);
    }

/* images-gallery */

#images-gallery {

    --gap: 30px;
    --num-cols: 2;
    --row-height: 300px;
    top: 1000px;
    margin-bottom: 30px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

#images-gallery > img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 5px 10px #b1abab;
    box-shadow: 
    8px 8px 12px 0 rgba(33, 51, 44, 0.7),
    -8px -8px 12px 0 rgba(245, 245, 245, 0.6);
}

/* footer */

.social_network {
    text-align: center;
    background-color:  rgb(97, 132, 174);
}

.social_network > li {
    display: inline;

}

.social_network i {
    font-size: 30px;
    margin: 10px;
    padding: 20px;
    color: #2c2222;
    }

.social_network h3{

    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: #2c2222;

}

#up-arrow #arrow{
    color: rgba(35, 50, 44, 0.7);
    display: inline-block;
    padding-top: 5px;
    height: 50px;
    width: 50px;
    left: 20px;
    bottom: 30px;
    position: fixed;
    border-radius: 50%;
    border:#D1D4D9;
    background-color: #D1D4D9;
    z-index: 9;
}

/*scroll arrow idea taken from: https://www.youtube.com/watch?v=HP3ZSd3ko5Y*/
#arrow{

    font-size: 40px;
    text-align: center;
}

/* Anything under 1024px */

@media screen and (max-width:1024px) {

#rows{
    flex-direction: column;

}
#images-gallery {
    --num-cols: 2;
    --row-height: 200px;

}}



/* Contact page */

.contact{
 
    min-height: 100vh;
    padding: 1px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/pixabay\ 4.jpg');
    background-size: cover;
    
}

.contact .content{

    max-width: 800px;
    text-align: center;

}
.contact .content h2 {
    
    font-size: 40px;
    font-weight: 500;
    color:white;
    text-align: center;
}
.contact .content p{
    font-size: 20px;
    font-weight: 500;
    color:white;
} 

.contactForm
{
    width: 40%;
    padding: 40px;
    background:  rgba(230, 233, 242, 0.4);
    border-radius: 5px;
    margin-top: 30px;
    

}
.contactForm h2{
    
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.contactForm .inputBox
{
    
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputBox input,
.contactForm .inputBox input textarea{

    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    outline: none;
    resize: none;
    border-bottom: 2px solid #3a3a3a;
}

.contactForm .inputBox input[type="submit"]{

    width: 30%;
    background: rgb(66, 216, 186);
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px;}

@media screen and (max-width: 1200px){
/*Text on the hero photo*/
    #welcome-text {
        padding-top: 30px; 
        top: 30%;  
        height: 400px; 
        }
/* About company section intro*/
        #about-text p {
            flex-direction: column;
            width: 100%;
        }

}


@media (max-width:991px){
    #welcome-text {
    padding-top: 30px; 
    top: 30%;  
    height: 400px; 
    }
    #welcome-text h1{
    font-size: 25px;
    }

    #welcome-text p{
    margin: 10px 0 40px;
    font-size: 15px;}

    .buton{
    font-size: 14px;
    width:  400px; 
    }

#nav-area{
    padding:0 30px;
    float: left;
    clear: both;
    letter-spacing: initial;
    line-height: initial;
}
    
nav ul li a  {
    margin: 0 10px;
    padding: 0px 20px;
    font-size: 15px;
    background-color: #0caaa5;
}
 .logo{
    float: right;
    width: 10%;
    height: 60px;
    padding-top: 10px;

 }

.contact
    {padding: 50px;
}

.content{
    flex-direction: column;
}

.contactForm
{width: 100%;}
}

@media (max-width:500px){

    #nav-area{
        float: left;
        clear: both;
        letter-spacing: 3px;
        line-height: initial;
    }
        
    
    nav ul li a  {
        font-size: 10px;
       }
    }